body {
    margin: 0;
    padding: 0;
}

body>h5 {
    margin-left: 50px;
    margin-top: 20px;
}

#navbar {
    width: 100%;
    height: 50px;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    background: #000;
    position: sticky;
    top: 0px;
}

#navbar>div {
    border: 0px solid blue;
    margin-left: 40px;
}

#navbar>div:nth-child(1)>img {
    height: 100%;
}

#navbar>div:nth-child(2) {
    margin-right: 50px;
    padding: 8px;
}

#search {
    font-size: 16px;
    border-radius: 5px;
    height: 28px;
    border: 1px solid lightcyan;
    background: #000;
}

#sign {
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    background: #409cff;
    color: white;
}

#bgimg {
    height: auto;
    border: 1px solid black;
    background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/bb/2c/ae/bb2cae80-b4e9-7193-8a4f-fb1129ad59ca/278c3382-c095-47b3-ba19-d82887d8b13a.png/1679x945sr.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 0;
    z-index: -1;
}

#bgimg>div:nth-child(1) {
    width: 20%;
    margin-top: 400px;
    margin-left: 50px;
    color: white;
    border: 0px solid red;
}

#bgimg>div>button {
    width: 250px;
    height: 40px;
    font-size: 18px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    font-weight: 500;
}

#bgimg>div>h1+p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#bgimg>div>button+p {
    font-size: 12px;
    margin-left: 40px;
    color: gray;
}

#bgimg>p {
    color: white;
    font-size: 20px;
    font-family: monospace;
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 12px;
}

#feature {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#feature>div {
    border: 0px solid blue;
}

#feature>div>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#slider {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#slider>div>img {
    width: 100%;
    border-radius: 15px;
}