body {
    margin: 0;
    padding: 0;
}

body>h5 {
    margin-left: 50px;
    margin-top: 20px;
}

#navbar {
    width: 100%;
    height: 50px;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    background: #000;
    position: sticky;
    top: 0px;
}

#navbar>div {
    border: 0px solid blue;
    margin-left: 40px;
}

#navbar>div>img {
    height: 100%;
}

#navbar>div>img:hover {
    cursor: pointer;
}

#navbar>div:nth-child(2) {
    width: auto;
    margin-right: 50px;
    padding: 8px;
}

#search {
    width: auto;
    font-size: 18px;
    border-radius: 5px;
    height: 28px;
    border: 1px solid lightcyan;
    background: #000;
    padding-left: 10PX;
}

#sign {
    width: auto;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    background: #409cff;
    color: white;
}

#bgimg {
    height: auto;
    border: 1px solid black;
    background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/bb/2c/ae/bb2cae80-b4e9-7193-8a4f-fb1129ad59ca/278c3382-c095-47b3-ba19-d82887d8b13a.png/1679x945sr.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: 0;
    z-index: -1;
}

#bgimg>div:nth-child(1) {
    width: 20%;
    margin-top: 400px;
    margin-left: 50px;
    color: white;
    border: 0px solid red;
}

#bgimg>div>button {
    width: 250px;
    height: 40px;
    font-size: 18px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    font-weight: 500;
}

#bgimg>div>h1+p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#bgimg>div>button+p {
    font-size: 12px;
    margin-left: 40px;
    color: gray;
}

#bgimg>p {
    color: white;
    font-size: 20px;
    font-family: monospace;
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 12px;
}

#feature {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#feature>div {
    border: 0px solid blue;
}

#feature>div>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#slider {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#slider>div>img {
    width: 100%;
    border-radius: 15px;
}


body>p {
    margin-left: 50px;
}

#poster {
    height: auto;
    background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/8f/a3/0a/8fa30a8c-a85b-e8c8-d2a5-8e6f14f95bb3/3067e0f7-0a1b-4f05-a2de-9f58babcf9c8.png/1319x494sr.png);
    border: 1px solid;
    position: relative;
    top: 0;
    z-index: -1;
}

#poster>div:nth-child(1) {
    width: 25%;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: white;
    border: 0px solid red;
}

#psCards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 10px;
}

#psCards>div>img {
    width: 100%;
    border-radius: 20px;
}

#psCards>div>p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    margin-left: 10px;
}

#cards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#cards>div>img {
    width: 100%;
    border-radius: 10px;
}

#banner {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner img {
    border-radius: 20px;
    width: 100%;
}

hr {
    width: 95%;
    margin: auto;
}

#footer {
    height: auto;
    border: 0px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #000;
    color: white;
    position: relative;
    top: 0;
    z-index: -1;
}

#footer>h2,
h5 {
    padding-bottom: 10px;
}

#footer>img {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
}

#footer>p {
    color: #409cff;
    font-size: 14px;
    padding-bottom: 10px;
}

#footer>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.iphone {
    width: 50%;
    margin: auto;
    border: 0px solid blue;
    display: flex;
    gap: 40px;
}

.iphone>div {
    margin: auto;
}

.iphone>div>img {
    height: 50px;
    background-color: white;
}

.tv {
    width: 50%;
    margin: auto;
    border: 0px solid blue;
    display: flex;
}

.tv>div {
    margin: auto;
}

.tv>div>img {
    height: 50px;
    background-color: white;
}

.tv>div:nth-child(3)>img {
    margin-top: -50px;
}

.tv>div>p {
    color: gray;
}

body>div div {
    position: relative;
    z-index: -1;
    top: 0px;
}

/* MEDIA QUERIES */

/* for medium screen */
@media all and (min-width:550px) and (max-width:700px) {
    #navbar {
        width: 100%;
        height: 45px;
    }

    #navbar>div {
        margin-left: 20px;
    }

    #navbar>div:nth-child(2) {
        margin-right: 30px;
        padding: 6px;
    }

    #search {
        width: 100px;
        font-size: 16px;
        border-radius: 8px;
        height: 30px;
        padding-left: 6px;
    }

    #sign {
        font-size: 16px;
        border-radius: 8px;
        height: 35px;
    }

    #bgimg>div:nth-child(1) {
        width: 25%;
        margin-top: 250px;
        margin-left: 25px;
    }

    #bgimg>div>button {
        width: 200px;
        height: 30px;
        font-size: 16px;
        padding: 3px 0 3px 0;
        border-radius: 8px;
        font-weight: 400;
    }

    #bgimg>div>h1+p {
        font-size: 16px;
    }

    #bgimg>div>button+p {
        font-size: 10px;
        margin-left: 30px;
    }

    #bgimg>p {
        font-size: 18px;
        margin-left: 25px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #feature {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-bottom: 20px;
    }

    #slider {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 25px;
    }

    #poster>div:nth-child(1) {
        width: 30%;
        margin-top: 60px;
        margin-bottom: 40px;
        margin-left: 30px;
    }

    #psCards {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 8px;
    }

    #cards {
        width: 92%;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 25px;
    }

    #footer {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #footer>h2,
    h5 {
        padding-bottom: 7px;
    }

    #footer>img {
        height: 50px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    #footer>p {
        font-size: 14px;
        padding-bottom: 8px;
    }

    .iphone {
        width: 70%;
        gap: 30px;
    }

    .iphone>div>img {
        height: 40px;
    }

    .tv {
        width: 70%;
    }

    .tv>div>img {
        height: 40px;
    }
}

/* for small screen */
@media all and (min-width:320px) and (max-width:550px) {
    #navbar {
        width: 100%;
        height: 40px;
    }

    #navbar>div {
        margin-left: 10px;
    }

    #navbar>div:nth-child(2) {
        margin-right: 10px;
        padding: 4px;
    }

    #search {
        width: 60px;
        font-size: 12px;
        border-radius: 2px;
        height: 20px;
        padding-left: 4px;
    }

    #sign {
        font-size: 12px;
        border-radius: 2px;
        height: 25px;
    }

    #bgimg>div:nth-child(1) {
        width: 28%;
        margin-top: 150px;
        margin-left: 16px;
    }

    #bgimg>div>button {
        width: 180px;
        height: 25px;
        font-size: 16px;
        padding: 2px 0 2px 0;
        border-radius: 8px;
        font-weight: 300;
    }

    #bgimg>div>h1+p {
        font-size: 14px;
    }

    #bgimg>div>button+p {
        font-size: 8px;
        margin-left: 15px;
    }

    #bgimg>p {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 25px;
        margin-bottom: 8px;
    }

    #feature {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 15px;
    }

    #slider {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-bottom: 20px;
    }

    #poster>div:nth-child(1) {
        width: 35%;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    #psCards {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 8px;
    }

    #cards {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    #footer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer>h2,
    h5 {
        padding-bottom: 5px;
    }

    #footer>img {
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer>p {
        font-size: 14px;
        padding-bottom: 6px;
    }

    .iphone {
        width: 85%;
        gap: 20px;
    }

    .iphone>div>img {
        height: 30px;
    }

    .tv {
        width: 90%;
    }

    .tv>div>img {
        height: 30px;
    }


}