body>p{
    margin-left: 50px;
}

#poster {
    height: auto;
    background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/8f/a3/0a/8fa30a8c-a85b-e8c8-d2a5-8e6f14f95bb3/3067e0f7-0a1b-4f05-a2de-9f58babcf9c8.png/1319x494sr.png);
    border: 1px solid;
    position: relative;
    top: 0;
    z-index: -1;
}

#poster>div:nth-child(1) {
    width: 25%;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: white;
    border: 0px solid red;
}

#psCards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 10px;
}

#psCards>div>img {
    width: 100%;
    border-radius: 20px;
}

#psCards>div>p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    margin-left: 10px;
}

#cards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#cards>div>img {
    width: 100%;
    border-radius: 10px;
}

#banner {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner img {
    border-radius: 20px;
    width: 100%;
}

hr {
    width: 95%;
    margin: auto;
}

#footer {
    height: auto;
    border: 0px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #000;
    color: white;
    position: relative;
    top: 0;
    z-index: -1;
}

#footer>h2,
h5 {
    padding-bottom: 10px;
}

#footer>img {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: black;
}

#footer>p {
    color: #409cff;
    font-size: 14px;
    padding-bottom: 10px;
}

#footer>p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.iphone {
    width: 50%;
    margin: auto;
    border: 0px solid blue;
    display: flex;
    gap: 40px;
}

.iphone>div {
    margin: auto;
}

.iphone>div>img {
    height: 50px;
    background-color: white;
}

.tv {
    width: 50%;
    margin: auto;
    border: 0px solid blue;
    display: flex;
}

.tv>div {
    margin: auto;
}

.tv>div>img {
    height: 50px;
    background-color: white;
}

.tv>div>p {
    color: gray;
}

body>div div{
    position: relative;
    z-index: -1;
    top: 0px;
}
